development:
  adapter: async

test:
  adapter: test

production:
  adapter: redis
  url: redis://redistogo:5fcac5f7396d377f33d36e259de67599@soapfish.redistogo.com:11099/
  channel_prefix: PNC_production
