@import "font-awesome";
body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.messages {
  ::-webkit-scrollbar {
    background: transparent; /* Optional: just make scrollbar invisible */
  }

  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
#logout
{
  background-color: transparent;
  font-size: 5vh;
  border: none;
  position: absolute;
  right: 5%;
  top: 0;
  &:hover
  {
    cursor: pointer;
  }
  &:focus
  {
    border: none;
    outline: none;
  }

}
.messages
{
  height: 100%;
  background-color: #d5d5d5;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 1280px;
}
#message_text
{
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  background-color: #e8e8e8;
  padding: 10px;
}
#send_message
{
  background-color: #52a7ff;
  border: none
}
#input-div
{

  width: 100%;
  height: -webkit-fill-available;
  display: inline-flex;
}

.message-article, .message-me
{
  display: block;
  margin-top: 15px;
  padding: 5px 10px;
  max-width: 80%;
  position: relative;
  width: fit-content;
  min-width: 20%;
  overflow-wrap: break-word;
}
.message-article {
  .message-sender, .message-time {
    right: 0 !important;
    display: table;
    margin-left: auto !important;
    margin-right: 0 !important;
  }
}
.message-sender
{
  color: #2e5322;
  font-size: 14px;
  font-weight: bold;
}
.message-text
{
  font-size: 16px;
}
.message-time
{
  font-size: 14px;
  color: #7c7c7c;
  font-weight: bold;
}
.message-article
{
  margin-left: auto;
  margin-right: 5px;
  background-color: #8faeff;
  border-radius: 5px;
}
.message-me
{
  margin-left: 5px;
  margin-right: auto;
  background-color: #6cff61;
  border-radius: 5px;
}
#messages-body
{
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  padding: 10px;
}

.input-errored, input:invalid
{
  border: 2px red solid !important;
}
.content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0px;

  h1 {
    text-align: center;
  }

}

.signs {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: fit-content;
  background-color: #dadada;
  border-radius: 10px;
  display: flow-root;
  padding: 10px;

  .form-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #919191;
    margin-top: 10px;
  }

  form {

    label {
      color: #6f6f6f;
      display: inline-block;
      margin-top: 10px;

    }

    input[type="text"], input[type="password"] {
      width: -webkit-fill-available;
      height: 35px;
      padding: 5px;
      margin-top: 2px;
      box-sizing: border-box;
      border: 1px solid #BBBBBB;
      border-radius: 5px;
      &::placeholder {
        color: #d3d3d3;
      }

      &:focus {
        border: 2px solid #52a7ff;
        outline: none;
      }
    }

    input[type='submit'] {
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      background-color: #52a7ff;
      border: none;
      height: 35px;
      width: 25%;
      font-size: 1vw;
      border-radius: 5px;
      &:hover
      {
        cursor: pointer;
      }
      &:focus
      {
        outline: none;
        color: black;

      }
    }

  }
}
.error-div
{
  position: absolute;
  top: 0;
  right: 5%;
  min-width: 30%;
  padding: 10px;
  background-color: indianred;
  border: 2px solid #B00100;
  border-radius: 0px 0px 10px 10px;
  font-size: 1.5vw;
  color: #730E15;
  text-align: center;
  font-weight: bold;
  transition: opacity  2000ms;
  will-change: opacity;
}
.error-div-out
{
  opacity: 0;
}